@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-custom {
    @apply scrollbar-thin scrollbar-thumb-blue-500 scrollbar-track-gray-800;
  }

  .scrollbar-rounded {
    @apply scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
  }
}

/* Add this in your CSS file or within a <style> block */
/* Add this in your main CSS file or within a style tag */

/* Keyframes for the diagonal movement and fading out */
@keyframes moveZzz {
  0% {
    opacity: 1;
    transform: translate(0, 0); /* Start from top-right */
  }
  100% {
    opacity: 0;
    transform: translate(-30px, -30px); /* Move diagonally */
  }
}


/* Smooth scrolling and global scrollbar */
html {
  scroll-behavior: smooth;
  overflow-y: scroll; 

  /* Firefox Support */
  scrollbar-width: thin;
  scrollbar-color: hsl(222, 36%, 10%) hsl(220, 13%, 18%);

}



/* Base Theme Configurations */
:root {
  /* Fonts */
  --font-mono: 'Fira Code', monospace;

  /* Background and Foreground */
  --background: 220 13% 18%; /* Dark gray editor background (#1E1E1E) */

  /* Editor Colors */
  --primary: 207 90% 55%; /* VSCode blue (#569CD6) */
  --secondary : 222, 36%, 10%;
  --third : 0, 0%, 0%;

  --institution-color: 213, 50%, 63%;


  /* Syntax Highlighting */
  --keyword: 207 90% 55%; /* Blue (#569CD6) */

  --destructive: 0 87% 63%; /* Red (#F44747) */

  --muted-foreground: 210 5% 60%; /* Dimmed gray (#A6A6A6) */

  /* Shadows */
  --shadow-blue-strong: 0 4px 10px rgba(59, 130, 246, 0.8); /* Strong blue glow */

  /* Radius */
  --radius: 0.5rem; /* Default border radius */
}



/* Body Styles */
body {
  @apply bg-background text-foreground;
  font-family: var(--font-mono); /* Use Fira Code globally by default */
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  min-height: 100vh;
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
